<div style="width:12204px;">
    <%= image_tag('work/118.png') %>
    <%= image_tag('work/112.png') %>
    <%= image_tag('work/111.png') %>
    <%= image_tag('work/108.png') %>
    <%= image_tag('work/105.png') %>
    <%= image_tag('work/104.png') %>
    <%= image_tag('work/100.png') %>
    <%= image_tag('work/90.png') %>
    <%= image_tag('work/87.png') %>
    <%= image_tag('work/81.png') %>
    <%= image_tag('work/67.png') %>
    <%= image_tag('work/64.png') %>
    <%= image_tag('work/62.png') %>
    <%= image_tag('work/37.png') %>
    <%= image_tag('work/32.png') %>
    <%= image_tag('work/27.png') %>
    <%= image_tag('work/19.png') %>
    <%= image_tag('work/18.png') %>
</div>