<div style="width:4624px;">
    <%= image_tag('100.png') %>
    <%= image_tag('104.png') %>
    <%= image_tag('105.png') %>
    <%= image_tag('108.png') %>
    <%= image_tag('110.png') %>
    <%= image_tag('111.png') %>
    <%= image_tag('112.png') %>
    <%= image_tag('118.png') %>
</div>