<div style="width:9416px;">
    <%= image_tag('work/bookstack.jpg') %>
    <%= image_tag('work/wedding.jpg') %>
    <%= image_tag('work/bakerbros.jpg') %>
    <%= image_tag('work/storyofgod.jpg') %>
    <%= image_tag('work/garyposter.jpg') %>
    <%= image_tag('work/silentgod.jpg') %>
    <%= image_tag('work/house.jpg') %>
    <%= image_tag('work/houseweb.jpg') %>
    <%= image_tag('work/rainbowpie.jpg') %>
    <%= image_tag('work/newatlantis.jpg') %>
    <%= image_tag('work/howwe.jpg') %>
    <%= image_tag('work/ht.jpg') %>
    <%= image_tag('work/bikes.jpg') %>
    <%= image_tag('work/eol.jpg') %>
    <%= image_tag('work/eol_pages.jpg') %>
    <%= image_tag('work/ke.jpg') %>
    <%= image_tag('work/spring.jpg') %>
    <%= image_tag('work/roots.jpg') %>
</div>